* {
    font-family: sans-serif;
    font-size: 100;
}

body {
    background: radial-gradient(circle,#fff,#333);
}

.grid-container {
    display: grid;
    grid-template-columns: 150px 150px 1em;
    grid-template-rows: 150px 150px 150px;
}

.grid-item {
    border: 2px solid #000;
}